<!--The content below is only a placeholder and can be replaced.-->
<og-config [data]='data'
  (autosave)='onAutosaveChange()'
  (import)='onImport($event)'
  (save)='onSave()'
></og-config>

<div class="row main">
  <div class="col-md-2 sidebar">
    <h4 class='campaign' *ngFor='let campaign of data.campaigns' (click)='selectCampaign(campaign)'>{{campaign.name}}</h4>
    <button class="btn btn-default" (click)='addCampaign()'><i class="fas fa-plus"></i></button>
  </div>
  <div class="col-md-10 content">
    <og-campaign [campaign]='selectedCampaign' *ngIf='selectedCampaign'></og-campaign>
    <div *ngIf='!selectedCampaign'>
      <h2>Welcome to The Old Guard Campaign Planner!</h2>
      <p>To get started, either select a campaign on the left, or click the <i class="fas fa-plus"></i> button to add one.</p>
      <p>For more information on what all of this stuff <em>is</em>, check out the <a href="http://book.dwgazetteer.com/fronts.html" target="_blank">Dungeon World book</a>. </p>
    </div>
  </div>
</div>