<!--The content below is only a placeholder and can be replaced.-->
<og-config [data]='data'
  (autosave)='onAutosaveChange()'
  (import)='onImport($event)'
  (save)='onSave()'
></og-config>
<div class="row main">
  <div class="col-md-2 sidebar">
    <h4 class='campaign' *ngFor='let campaign of data.campaigns' (click)='selectCampaign(campaign)'>{{campaign.name}}</h4>
    <button class="btn btn-default" (click)='addCampaign()'><i class="fas fa-plus"></i></button>
  </div>
  <div class="col-md-10 content">
    <button (click)='openModal()'>Open</button>
    <og-modal id='test-modal' title='Oh snap!'>
      <p>This is a modal.</p>
      <button (click)='closeModal()'>Close it!</button>
    </og-modal>
    <og-campaign [campaign]='selectedCampaign' *ngIf='selectedCampaign'></og-campaign>
  </div>
</div>